#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .vignette-content {
  margin-top: -1px;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .visuel-produit {
background-image: __TILE_IMG__;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .infos-prix {
  margin-bottom: 10px;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .vignette-content .tetiere {
    color: __TETIERE_TXT_COLOR__;
    text-transform: uppercase;
    height: 24px;
    position: relative;
    margin-bottom: 22px;
    background-color: __TETIERE_BG_COLOR__;
    /*box-shadow: inset 0 7px 5px -4px rgba(218, 15, 25, 0.4);*/
    box-shadow: inset 0 7px 5px -4px rgba(0, 0, 0, 0.2);
    background-image: none;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .vignette-content .tetiere::after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: __TETIERE_BG_COLOR__ transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  bottom: -7px;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .visuel-produit {
  text-align: center;
  position: relative;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .visuel-produit img {
  width: 42%;
  display: inline-block;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="2"]>.vignette .visuel-produit img {
  margin-top: 23%;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .libelle-produit {
  /*text-transform: capitalize;*/
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .libelle-produit:first-letter {
  /*text-transform: uppercase;*/
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .add-to-basket-area {
    display: block;
    text-decoration: none;
    height: 28px;
    width: 167px;
    margin: 0px;
    margin-top: 5px;
    color: #FFF;
    background-image: url(./../../img/Button_BB.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
    text-align: left;
    padding: 0;
    margin-right: 6px;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .add-to-basket-area .add-to-basket-btn {
  text-decoration: none;
  color: #FFF;
  background-image: none;
  text-transform: uppercase;
  font-size: .7em;
  font-family: TitilliumText22LBold;
  text-align: left;
  margin: 0;
  padding: 0;
  width: calc(100% - 47px);
  position: absolute;
  display: inline-block;
  height: auto;
  line-height: 1;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .vignette .sponsorise .tetiere {
    display: none;
}

.sto-corner {
  background: red;
  height: 30px;
  position: absolute;
  width: 3px;
}

.sto-corner:after {
  background: red;
  content: "";
  height: 3px;
  position: absolute;
  width: 30px;
}

#sto-corner-bot:after {
  bottom: 0px;
  right: 0px;
}

#sto-corner-top {
  top: 0px;
  left: 10px;
}

#sto-corner-bot {
  bottom: -15px;
  right: 10px;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .vignette .operation-produit-promo, #sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette .operation-produit-promo-long {
  line-height: 1.1;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  left: 0;
  height: auto;
  padding: 0 5%;
  color: __PROMO_TXT_COLOR__;
  background-color: transparent;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.vignette div.tooltip-promo {
  top: 12px;
  width: 76px;
  height: 38px;
  padding: 4px;
  background-color: __PROMO_BG_COLOR__;
  font-size: .8em;
  overflow: hidden;
  position: relative;
}

.sto-__PLACEHOLDER__-w-modalbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20004;
  display: none;
  opacity: 0;
}

.sto-__PLACEHOLDER__-modalbox {
  position: fixed;
  width: 795px;
  height: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 20005;
  border-radius: 7px;
  padding: 0 7.5px;
  display: none;
  opacity: 0;
}

.sto-__PLACEHOLDER__-modalbox-header {
  height: 50px;
  background-color: __TETIERE_BG_COLOR__;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px 7px 0 0;
}

.sto-__PLACEHOLDER__-modalbox-header span {
  color: __TETIERE_TXT_COLOR__;
  text-transform: uppercase;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.sto-__PLACEHOLDER__-modalbox-header::after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: __TETIERE_BG_COLOR__ transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -7.5px;
  bottom: -10px;
}

.sto-__PLACEHOLDER__-modalbox-close {
  position: absolute;
  right: -14px;
  top: -14px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("./../../img/Plus_Adr_BB.png");
  box-shadow: inset 0 0 0px 2px #bec3b9;
  border: 1px solid #bec3b0;
  background-position: center;
  transform: rotate(45deg);
}

.sto-__PLACEHOLDER__-modalbox-products {
  margin-top: 80px;
  height: 400px;
  text-align: center;
}

.sto-__PLACEHOLDER__-modalbox-products>div {
  display: inline-block !important;
  margin: 15px 5px 0 5px;
  width: 188px;
  vertical-align: top;
  position: relative;
}

.sto-__PLACEHOLDER__-modalbox-products>div::after {
  content: ' ';
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  right: -24px;
  font-size: 45px;
  /*color: #fff;
  background-color: #f70b18;
  border-radius: 50%;*/
  background-image: url(./../../img/Plus_Adr_BB.png);
  background-position: center;
  background-repeat: no-repeat;
  line-height: 32px;
  text-align: center;
  z-index: 2;
}

.sto-__PLACEHOLDER__-modalbox-products>*:last-child::after {
  display: none;
}

.sto-__PLACEHOLDER__-modalbox-products>* .infos-produit {
  text-align: left;
}

.sto-__PLACEHOLDER__-modalbox-products>*[sto-prod="repeated"] {
  display: none !important;
}

.sto-__PLACEHOLDER__-modalbox-products .sto-product-repeated {
  position: absolute;
  top: -18px;
  left: -10px;
  z-index: 999;
  font-size: 43px;
  font-weight: bold;
  transform: rotate(-20deg);
}

.sto-__PLACEHOLDER__-modalbox-cta {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  color: #fff;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  background-image: url(./../../img/ADR_PopIn_Glb_ABK.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 236px;
  text-align: center;
  text-transform: uppercase;
  font-family: TitilliumText22LBold;
}
.sto-__PLACEHOLDER__-button-off {
  filter: grayscale(100%);
  opacity: 0.3;
  cursor: default;
}
.sto-__PLACEHOLDER__-button-off * {
  cursor: default;
}
.sto-__PLACEHOLDER__-modalbox-cta span {
  position: relative;
  right: 10px;
}
