<div id="sto-format" class="vignette-box sto-__PLACEHOLDER__-bundleboost">
  <div class="vignette ">
    <p class="origine"></p>

    <div class="vignette-content promo">

      <a href="">

						<span class="tetiere">KIT EN PROMO</span>

					<div class="visuel-produit">

            <div id="sto-corner-top" class="sto-corner"></div>
            <div id="sto-corner-bot" class="sto-corner"></div>

					</div>
					<div class="infos-produit">


			<p class="libelle-produit"></p>



			<div class="infos-prix">




		<p class="prix-produit">2<span>,29</span><span class="prix-symbole-euro">€</span></p>

					<div class="clear"></div>
			</div>


						<div class="clear"></div>
					</div>

        </a>


      <div class="t-zone tapestry-zone" id="thumbnailProduct_addToBasketZone_345024">
        <div class="add-to-basket-area">


          <a id="" class="add-to-basket-btn sto-global-abk hover" href="">
							Ajouter <br> au panier
				        </a>

        </div>

      </div>

    </div>

    </a>

  </div>

  <div class="sto-__PLACEHOLDER__-modalbox">
    <div class="sto-__PLACEHOLDER__-modalbox-header">
      <span>DANS VOTRE KIT VACANCES</span>
    </div>
    <div class="sto-__PLACEHOLDER__-modalbox-close"></div>
    <div class="sto-__PLACEHOLDER__-modalbox-products"></div>
    <div class="sto-__PLACEHOLDER__-modalbox-cta sto-global-abk"><span></span></div>
  </div>
  <div class="sto-__PLACEHOLDER__-w-modalbox">
  </div>

  <div class="sto-product-container"></div>

</div>
