<article id="sto-format" class="product-item sto-__PLACEHOLDER__-bundleboost sto-bundleboost sto-bbs">

  <header class="product-item__header">
    <span class="sto-product-item__sponsored">tetiere</span>

  </header>
  <a class="product-item__main" href="/catalog/auchan-bio-boisson-lait-amandes-brique-1l-P538659">
    <figure class="product-item__figure">
      <aside class="product-item__icons">

        <!--<img class="plp-picto__image" src="/pss/20180614.115602/images/pictos/PICTO_bio.gif.svg" onerror="this.style.display='none'" data-pagespeed-url-hash="2075314365" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

        <img class="plp-picto__image" src="/images/pictos/PICTO_contenance_1l.gif.svg" onerror="this.style.display='none'" data-pagespeed-url-hash="103706612" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" style="display: none;">

        <img class="plp-picto__image" src="/pss/20180614.115602/images/pictos/PICTO_Auchan.gif.svg" onerror="this.style.display='none'" data-pagespeed-url-hash="1304327181" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">-->

      </aside>
      <picture class="product-item__image">
      </picture>
    </figure>
    <div class="product-item__information">

      <div class="product-item__animcom-wrapper">

        <!--/ Animcom : default /*-->
        <span class="animcom sto">
        <i></i>
        Prix Promo!
    </span>

        <!--/ Animcom : Waaoh 5% /*-->


        <!--/ Animcom : Nouveauté /*-->


      </div>

      <dl class="product-item__description">
        <dt class="product-item__title">
                        <span>Bla bla bla</span>
                    </dt>
        <div class="rating-container">
          <!--<div class="rating" style="width:6.0rem">
            <div class="rating__background">
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
            </div>
            <div class="rating__foreground" style="width:86.0%">
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
              <div class="rating__star"><i class="icon-star"></i></div>
            </div>
          </div>
          <div class="rating-average">4,3</div>
          <div class="rating-quantity">(30)</div>-->
        </div>

        <span class="product-item__price-per"></span>
      </dl>
    </div>
  </a>
  <div class="product-item__shortcuts">
    <!--<button class="product-item__shortcutsButton add-to-shoppinglist icon-addList" data-product-id="538659" type="button"></button>-->
  </div>
  <aside class="product-item__aside">
    <section class="product-item__prices">
      <p class="price-standard">
        <span class="price-standard__decimal"></span>
        <span class="price-standard__cents"></span>
        <span class="price-standard__currency">&#8364;</span>
      </p>

    </section>
    <div>
      <div class="product-controls no-quantity stock-max" data-area="quick add to cart">
        <form class="cart-updater-form cart-updater">

          <button class="addToCart product-item__addToCart icon-shoppingCart product-controls__add cart-update-button product-control__more" type="button" aria-label="Ajouter au panier" data-tracking-label="Ajouter au panier"></button>

        </form>
      </div>
    </div>
  </aside>
  <div class="sto-__PLACEHOLDER__-modalbox">
    <div class="sto-__PLACEHOLDER__-modalbox-header">
      <span></span>
    </div>
    <div class="sto-__PLACEHOLDER__-modalbox-close">+</div>
    <div class="sto-__PLACEHOLDER__-modalbox-products"></div>
    <div class="sto-__PLACEHOLDER__-modalbox-cta sto-global-abk"><a><span></span><button class="addToCart product-item__addToCart icon-shoppingCart" type="button" aria-label="Ajouter au panier" data-tracking-label="Ajouter au panier"></button></a></div>
  </div>
  <div class="sto-__PLACEHOLDER__-w-modalbox">
  </div>

  <div class="sto-product-container"></div>
</article>
