#sto-format.sto-__PLACEHOLDER__-bundleboost {
  box-shadow: inset 0px 0px 0px 2px #00CDCA;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__header {
  position: relative;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__header .sto-product-item__sponsored {
  width: 90%;
  border-radius: 15px;
  background-color: #00CDCA;
  height: 30px;
  display: block;
  color: #fff;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  position: relative;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__header .sto-product-item__sponsored::after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #00CDCA transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  bottom: -7px;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main .animcom.sto {
  background-color: #ffcf4c;
  /*__PROMO_BG_COLOR__*/
  color: #474955;
  /*__PROMO_TXT_COLOR__*/
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main figure.product-item__figure {
  margin-top: -10px;
  background-image: __TILE_IMG__;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main picture.product-item__image {
  display: inline-block!important;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main[data-img="multi"] picture img {
  width: auto;
  margin: 0px 9%;
  height: 50%;
  display: inline-block;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* .product-item__aside, #sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__aside {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .bbs-inactive * {
  color: #b9bac3;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .bbs-inactive .addToCart {
  position: relative;
  color: #b9bac3;
  background-color: #ddd;
  border-color: #b9bac3;
}

/*#sto-format.sto-__PLACEHOLDER__-bundleboost .bbs-inactive .addToCart::after {
  content: "";
  display: block;
  height: 110%;
  width: 110%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -4.5%;
  background-color: white;
  left: -4.5%;
  background-image: url(./../../img/cart.png);
}*/

#sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__aside.bbs-inactive::after, #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-cta.bbs-inactive::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

.sto-corner {
  background: red;
  height: 30px;
  position: absolute;
  width: 3px;
}

.sto-corner:after {
  background: red;
  content: "";
  height: 3px;
  position: absolute;
  width: 30px;
}

#sto-corner-bot:after {
  bottom: 0px;
  right: 0px;
}

#sto-corner-top {
  top: 0px;
  left: 10px;
}

#sto-corner-bot {
  bottom: -15px;
  right: 10px;
}

.sto-__PLACEHOLDER__-w-modalbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.sto-__PLACEHOLDER__-modalbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 11;
  display: none;
  opacity: 0;
  max-width: 100%;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.sto-__PLACEHOLDER__-w-modalbox[data-state="on"] {
  opacity: 1;
}

.sto-__PLACEHOLDER__-modalbox[data-state="on"] {
  opacity: 1;
}

.sto-__PLACEHOLDER__-w-modalbox[data-state="off"] {
  opacity: 0;
}

.sto-__PLACEHOLDER__-modalbox[data-state="off"] {
  opacity: 0;
}

.sto-__PLACEHOLDER__-modalbox-header {
  height: 40px;
  background-color: #00CDCA;
  /*__TETIERE_BG_COLOR__*/
  text-align: center;
}

.sto-__PLACEHOLDER__-modalbox-header span {
  color: #fff;
  /*__TETIERE_TXT_COLOR__*/
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
}

.sto-__PLACEHOLDER__-modalbox-close {
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  font-size: 42px;
  font-weight: 100;
  font-family: Roboto, arial, sans-serif;
  color: #fff;
  background-color: transparent;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  z-index: 2;
  padding-left: 1px;
  border: 1px solid #fff;
  transform: rotate(45deg);
}

.sto-__PLACEHOLDER__-modalbox-products {
  height: auto;
  text-align: center;
}

.sto-__PLACEHOLDER__-modalbox-products>* {
  display: inline-block !important;
  margin: 0;
  vertical-align: top;
  position: relative;
  /*height: auto;*/
}

.sto-__PLACEHOLDER__-modalbox-products>*::after {
  content: '+';
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  font-size: 30px;
  font-weight: bold;
  color: #474955;
  background-color: #ffcf4c;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  z-index: 2;
  padding-left: 1px;
}

.sto-__PLACEHOLDER__-modalbox-products>.sto-item{
  overflow-y: visible!important;
}

.sto-__PLACEHOLDER__-modalbox-products>*.sto-last-visible::after ,
.sto-__PLACEHOLDER__-modalbox-products>*:last-child::after {
  display: none;
}

.sto-__PLACEHOLDER__-modalbox-products>* .infos-produit {
  text-align: left;
}

.sto-__PLACEHOLDER__-modalbox-products>.sto-item.sto-hidden,
.sto-__PLACEHOLDER__-modalbox-products>*[sto-prod="repeated"] {
  display: none !important;
}

.sto-__PLACEHOLDER__-modalbox-products .sto-product-repeated {
  position: absolute;
  top: 178px;
  right: 24px;
  left: initial;
  z-index: 999;
  font-size: 43px;
  font-weight: bold;
  color: #00cdca;
}

.sto-__PLACEHOLDER__-modalbox-cta {
  color: #eb3f34;
  height: 70px;
  line-height: 70px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  font-family: Sana\ Sans\ Alt\ Regular, Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
}

.sto-__PLACEHOLDER__-modalbox-cta>* {
  cursor: pointer;
}

.sto-__PLACEHOLDER__-button-off {
  filter: grayscale(100%);
  opacity: 0.3;
  cursor: default;
}

.sto-__PLACEHOLDER__-button-off * {
  cursor: default;
}

.sto-__PLACEHOLDER__-modalbox-cta>a {
  height: 100%;
  display: inline-block;
  padding: 0px 20px;
}

.sto-__PLACEHOLDER__-modalbox-cta span {
  position: relative;
  right: 10px;
}

.sto-__PLACEHOLDER__-modalbox-cta button {
  position: relative;
  top: -5px;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .sto-product-container {
  display: none;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__information {
  text-align: left;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main .sto-__PLACEHOLDER__-mobile-desc {
  display: none;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 1.3rem;
  line-height: 1.38;
}

#sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main .product-item__title {
  max-height: none;
}

@media screen and (max-width:1148px) {
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products {
    width: 100% !important;
    max-width: 700px;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* {
    display: block !important;
    width: 100%;
    height: auto;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>*::after {
    display: none !important;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>*.sto-hidden {
    display: none!important
  }
}

@media screen and (min-width:768px) and (max-width:1148px) {
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox {
    max-width: 700px;
    width: 100%;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* {
    width: 100% !important;
    min-height: 14rem;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* figure {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 90px;
    height: 90px;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* figure picture {
    width: 90px;
    height: 90px;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* figure picture img {
    width: 90px;
    height: 90px;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* .product-item__information {
    position: absolute;
    top: 15px;
    left: 20%;
    width: 60%;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__header .sto-product-item__sponsored {
    font-size: 16px;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* .product-item__aside {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* .product-item__shortcuts {
    position: absolute;
    width: 40px;
    left: 0;
    bottom: 0;
    top: auto;
    right: 0;
    height: auto;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products .sto-product-repeated {
    top: 9px;
    font-size: 35px;
    left: 97px;
    right: initial;
  }
}

@media screen and (max-width:767px) {
  #sto-format.sto-__PLACEHOLDER__-bundleboost {
    /*display: none!important;*/
    height: 18rem;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__header{
    margin-bottom: 15px;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__header .sto-product-item__sponsored {
    /* margin-top: 0px;
    width: 100%;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px; */
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__header .sto-product-item__sponsored::after {
    /* display: none; */
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main{
    height: 91px;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main figure.product-item__figure {
    margin-top: 0;
    background-size: 90px;
    background-position: 10px center!important;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main figure.product-item__figure .product-item__image{
    margin-left: 10px;
    width: 90px;
    height: 90px;
    position: relative;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main figure.product-item__figure .product-item__image img{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    width: 50%;
    height: auto;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="4"]>.product-item__main figure.product-item__figure .product-item__image img:first-of-type,
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="3"]>.product-item__main figure.product-item__figure .product-item__image img:first-of-type{top:25%;left:25%;}
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="4"]>.product-item__main figure.product-item__figure .product-item__image img:nth-of-type(2),
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="3"]>.product-item__main figure.product-item__figure .product-item__image img:nth-of-type(2){top:25%;right:25%; transform: translateX(50%) translateY(-50%);}
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="4"]>.product-item__main figure.product-item__figure .product-item__image img:nth-of-type(3){bottom:25%;left:25%;transform: translateX(-50%) translateY(50%);}
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="4"]>.product-item__main figure.product-item__figure .product-item__image img:last-of-type{bottom:25%;right:25%; transform: translateX(50%) translateY(50%);}
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="3"]>.product-item__main figure.product-item__figure .product-item__image img:last-of-type{bottom:25%;right:50%; transform: translateX(50%) translateY(50%);}
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="2"]>.product-item__main figure.product-item__figure .product-item__image img:first-of-type{bottom:50%;left:25%; transform: translateX(-50%) translateY(50%);}
  #sto-format.sto-__PLACEHOLDER__-bundleboost[data-count="2"]>.product-item__main figure.product-item__figure .product-item__image img:last-of-type{bottom:50%;right:25%; transform: translateX(50%) translateY(50%);}

  #sto-format.sto-__PLACEHOLDER__-bundleboost .product-item__information {
    max-width: 100%;
    min-height: 80px;
    max-height: 80px;
    display: block;
    overflow: hidden;
  }

  #sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main .sto-__PLACEHOLDER__-mobile-desc {
    display: inline-block;
  }

  #sto-format.sto-__PLACEHOLDER__-bundleboost>.product-item__main .product-item__title{
    display: none;
  }

  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox {
    width: 90%;
    left: 5%;
    transform: translate(0%, -50%);
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products .sto-product-repeated {
    top: 9px;
    font-size: 35px;
    left: 97px;
    right: initial;
  }
}

@media screen and (max-width:599px) {
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products>* {
    border-bottom: .1rem solid #e4e5e9;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products {
    max-height: 49rem;
    overflow-y: scroll;
  }
  .sto-__PLACEHOLDER__-modalbox-cta {
    border-top: 1px solid #00CDCA;
  }
  #sto-format.sto-__PLACEHOLDER__-bundleboost .sto-__PLACEHOLDER__-modalbox-products .sto-product-repeated {
    left: 70px;
    top: 14px;
    right: initial;
  }
}
